@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:300,400,700,800&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    width: 1626px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

header {
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 137px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 3px 6px #00000029;
}

.navigation h2 {
    text-align: left;
    font: 300 32px/37px Raleway;
    letter-spacing: 0;
    color: #08A6E4;
}

.navigation__list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin: 0 20px;
}
.navigation__link a {
    padding: 28px 0 23px 0;
    margin: 0 95px 0 0;
    text-decoration: none;
    text-align: center;
    font: 700 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
}

.navigation__link a:hover {
    color:#000000; 
    border-bottom: 4px solid #08A6E4; 
    transition: ease-out 0.3s;  
}

main > h2 {
    text-align: center;
    padding-top: 130px;
    margin: 0 0 22px 0;
    font: 400 49px/57px Raleway;
    letter-spacing: 0;
    color: #000000;
    }

p {
    text-align: center;
    font: Regular 16px/22px Open Sans;
    letter-spacing: 0;
    color: #000000;
}

.button_text{
    text-align: center;
    font: 700 16px/22px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
}

.center_container{
    height: 67px;
    width: 440px;
    margin: 0 auto;
    padding-top: 38px;
}

.wrapper_container {
    background-color: #08A6E4;
    height: 67px;
    width: 440px;
    border-radius: 33px;
    display:flex;
    align-items: center;
    justify-content: center;  
    box-shadow: 5px 10px 14px #07ACE629;
}

.mainBackground {
    background-image: url("../images/Background.png");
    height: 58vh;
    background-position: -50px 0; 
    background-size: 107%;
    background-repeat: no-repeat;
}

.statistic{
    height: 531px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    top: -34px;
    /* box-shadow: 0px -5px 80px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box; */
}

.flex_col-direction{
    display: flex;
    flex-direction: column;
}

h3 {
    font-size:2.25rem;
}

.flex_col-direction > h3{
    text-align: center;
    padding:100px;
}

.circle, red_circle {
    width: 64px;
    height: 64px;
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 50%;
    position: relative
}

.red_circle:after{
    background-image: url("../images/Person.svg");
    content: "";
    position: absolute;
    right: -11px;
    width:44px;
    height:52px;
}

.blue_circle {
    background: #08A6E4 0% 0% no-repeat padding-box;
}

.blue_circle:after{
    background-image: url("../images/Eye.svg");
    content: "";
    position: absolute;
    right: -22px;
    top: 14px;
    width:65px;
    height:37px;
}

.green_circle {
    background: #55DFB4 0% 0% no-repeat padding-box;
}

.green_circle:after{
    background-image: url("../images/Catalog.svg");
    content: "";
    position: absolute;
    right: -22px;
    top: 8px;
    width:52px;
    height:48px;
}

.flex_row-direction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 422px;
}

.flex_row--items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 116px;
    height: 140px;
}

.flex_row--items > p:nth-child(2) {
    text-align: center;
    font: 800 20px/24px Raleway, sans-serif;
    letter-spacing: 5.96px;
    color: #000000;
}

.flex_row--items > p:nth-child(3){
    text-align: center;
    font: 400 17px/20px Raleway;
    letter-spacing: 0;
    color: #A5A5A5;
    width: 120px;
}


.second_article{
    background-color:#F7F7F7;
}

.second_article_container{
    width: 1124px;
    margin: 0 auto;
    padding: 105px 0;    
}

h3 + p {
    font-family: Open Sans, sans-serif;
    text-align: left;
}

.hr_line {
    border: 2px solid #FB3B64;
    width: 327px;
}

.first_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;  
    padding: 0 118px 0 35px;
    position: relative; /*parent element for .macbook2_bacground should have position relative*/
    z-index: 2;
}
.first_box--items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    width:416px;
    height: 188px;
    padding: 91px 0;  
}

.macbook2_bacground{
    background: url('../images/Macbook.png') 0% 0% no-repeat padding-box;
    content: "";
    width:386px;
    height:219px;
    background-size: contain;
    position: relative;
    }

.macbook2_bacground:after{
    content: "";
    position: absolute;
    width: 181px;
    height: 181px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    right: 0px;
    top: -30px;
    z-index: -1;    
}

.second_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;  
    padding: 0 118px 0 35px;
    position: relative; 
    z-index: 2; 
    margin: 37px 0;
    padding: 0 70px;

}

.first_box--items > p {
    text-align: left;
}

.second_box--items > .hr_line{
    border-color: #07ACE6;
}

.iPhone_bacground{
    background: transparent url('../images/iPhone.png') 0% 0% no-repeat padding-box;
    content: "";
    width: 426px;
    height: 328px;
    background-size: cover;
    position: relative;
    margin:29px 0;
}

.iPhone_bacground:after{
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    border-radius: 50%;
    z-index: -1;
    top: -18px;
}

.second_box--items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    width:416px;
    height: 188px;
    padding: 91px 0;  
}


.third_box{
    width: 623px;
    position: relative;
}

.third_box--items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    height: 230px; 
    padding: 70px 36px;
    background-color: white; 
}
.third_box--items > h3{
    width: 346px;
}
.third_box--items > .hr_line{
    border: 2px solid #55DFB4;
}

.fourth-box{
    position: absolute;
    top: 0;
    left: 683px;
    content: "";
    width: 440px;
    height: 370px;
    background-color: #55DFB4;
}

.fourth-box:after{
    position: absolute;
    left:62px;
    top: 96px;
    content: "";
    width: 296px;
    height: 208px;
    background: transparent url('../images/Trumpet.png') 0% 0% no-repeat padding-box;
    background-size: contain; 
}

.price{
    margin: 0 auto;
    width: 1266px;
    height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.third_article_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 180px 0 180px;
}

section > h3{
    text-align: center;
}

h4{
    text-align: left;
    font: 700 20px/25px Raleway;
    letter-spacing: 0;
    color: #13253B;
    margin: 34px 0 0 14px;
}

.price_Box{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 372px;
    height: 461px;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    position: relative;
}

.price_Box.professional{
   margin-right: 58px; 
}
.price_Box.basic{
    margin-right: 59px; 
 }


.dolar_price{
    font-size: 2.875rem;
    color: #FB3B64;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 59px;
    height: 64px;
    margin: 14px 0 69px 0;
    display: inline-flex;
    align-items: center;
}

.price_Box.professional > .dolar_price{
    color: #07ACE6;
    width: 93px;
    height: 70px;
    margin: 14px 0 5px 0;
}

.premium .dolar_price{
    color: #55DFB4;
    width: 85px;
    height: 64px;
    margin: 14px 0 5px 0;
}

div.price_Box.professional > p.dolar_price{
    margin: 14px 0 5px 0;
    height: 70px;
}

div.price_Box.premium > p.dolar_price{
    margin: 14px 0 5px 0;
}

div.price_Box.professional > span:nth-child(3), div.price_Box.premium > span:nth-child(3){
    margin: 14px 0 61px 0;
    font: 700 12px/14px Raleway;
    color: #13253B;
    letter-spacing: 0;
}

div.price_Box.premium > span:nth-child(3){
    margin: 14px 0 50px 0;
}

span{
    margin: 0 10px 20px 10px;
    text-align: center;
    font: 400 14px/19px Open Sans;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    
}

img{
    width: 11px;
    height: 11px;
    margin: 4px 10px 4px 0;
}

.professional{
    width: 405px;
    height: 500px;
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
}
.premium{
    border: 1px solid #55DFB4;
}

.begin_container {
    background-color: #EB476E;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    display:flex;
    align-items: center;
    justify-content: center;  
    position:absolute;
    bottom: -25px;
    left:111px;
}

div.price_Box.professional > div > div{
    width: 165px;
    background-color:#07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
}

.price_Box.premium > div > div{
    background-color:#55DFB4;
}

.contact_form{
    margin: 155px 365px 59px 365px;
    display: flex;
    flex-direction: row;

}

.contact_form-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 111px;
}
.contact_form-info > p:nth-child(1){
    text-align: left;
    font: 400 49px/57px Raleway;
    letter-spacing: 0;
    color: #000000;
    margin-bottom: 22px;  
}

.contact_form-info > p:nth-child(2){
    text-align: left;
    margin-bottom: 43px;
}    

.contact_form-info-items{
    display: flex;
    justify-content: space-between;
}

.contact_form-info-items > p{
    text-align: left;
    font: 600 16px/22px Open Sans;
    letter-spacing: 0;
    color: #A5A5A5;
}  
.contact_form-info-items img{
    width: 27px;
    height: 27px; 
    margin-right: 10px; 
}  
.contact_form-filelds{
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 372px;
}
.contact_form-filelds-items{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;    
    }

.contact_form-filelds-items p{
    text-align: left;
    font: 700 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #08A6E4;
    margin-bottom: 42px;   
}
.contact_form-filelds-items > p:nth-child(3){
    margin-top: 42px; 
}

.contact_form-filelds-items p:nth-child(2){
    margin: 42px 0 42px 0;
}

.clause{
    display: flex;
    flex-direction: row;
}    


div.clause > p{
    text-align: left;
    font: 400 12px/17px Open Sans;
    letter-spacing: 0;
    color: #707070;
}

.checkbox{    
    padding: 0 12px 0 12px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    border-radius: 4px;
    background: url('../workshop-assets/Checkmark.svg') 50% 50% no-repeat padding-box;
    margin: 0 10px 0 0;
} 


.button_send{
    width: 226px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    text-align: center;
    padding: 20px 0 19px 0;
    align-self: flex-end;
    margin-top: 20px;
}


input {
    border: 0;
    height: 0;
    border-bottom: 1px solid #95989A;
}


footer{
    width: 1626px;
    height: 89px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;    
}

.foot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 136px;
}
.foot-container_names {
    display: flex;
    flex-direction: column;
}

.foot-container_names span:nth-child(1){
    text-align: left;
    font: 300 26px/30px Raleway;
    letter-spacing: 0;
    color: #08A6E4;
}
.foot-container_names span:nth-child(2){
    text-align: left;
    font: 400 11px/15px Open Sans;
    letter-spacing: 0;
    color: #A5A5A5;    
}

.foot-container_icons img{
    width: 24px;
    height: 24px;
}